.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  height: 20px;
  margin-top: 2%;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.trybewarts-header-logo {
  width: 50px;
  height: 50px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#div-family {
  display: flex;
  flex-direction: column;
}

#label-family {
  display: flex;
}

#label-content {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(50, 167, 145);
}

footer p {
  color: white;
  font-size: 20px;
}
