.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

<<<<<<< HEAD
main {
  display: flex;
}

form{
  display: flex;
  width: 675px
}


=======
.trybewarts-header-title {
  justify-content: center;
}

#evaluation-form {
  flex-direction: column;
}
>>>>>>> 0d12f1fb81e71c20fc183b19ad0466f854d4dd7f
