.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.trybewarts-header-title {
  justify-content: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#div-family {
  display: flex;
  flex-direction: column;
}

#label-family {
  display: flex;
}

#label-content {
  display: flex;
}
